<div class="position-relative border-bottom" style="border-color: #000 !important; height: 600px; background-size: cover; background-position: center; background-image: url('{{ '/assets/img/birds-chain-sunset-reversed.jpg' | relative_url }}')">
	<div class="position-absolute top-50 start-50 translate-middle fw-bold fs-5">
		{%- include title.html -%}
		<p>There are More Doctors called {% raw %}{{name}}{% endraw %} Who Support Vaccination<br />Than all the doctors who are spreading doubt</p>
		<a type="button" class="btn btn-green fs-5 p-2 fw-bold d-inline" href="https://www.surveymonkey.com/r/DRSUV-2" target="_blank">Sign the Declaration</a>
	</div>
</div>
