<a type="button" class="btn btn-green" href="https://www.unicef.org.nz/appeal/covax" target="_blank">Donate to UNICEF</a>
<a type="button" class="btn btn-green" href="https://skeptics.nz" target="_blank">Subscribe to our Newsletter</a>
<a role="button" class="btn btn-green" href="https://covid19.govt.nz/about-this-site/contact-and-support/" target="_blank">United against Covid-19 Contact and Support</a>
<!--<a type="button" class="btn btn-green" href="https://covid19.govt.nz/iwi-and-communities/support-your-community/" target="_blank">Community - Support Groups</a>-->
