<div class="container fs-3 p-5">
	<div class="row">
		<div class="col-4 p-5">
			<a type="button" class="btn btn-green fs-2" href="https://www.surveymonkey.com/r/DRSUV-2" target="_blank">Doctors</a></td>
		</div>
		<div class="col-4 p-5">
			<a type="button" class="btn btn-green fs-2" href="https://docs.google.com/forms/d/e/1FAIpQLSdk58m6ZAmWdD3oC0lGsubpLOavLkJC_gYL7qPaiGqzSbH4cA/viewform" target="_blank">Nurses</a>
		</div>
		<div class="col-4 p-5">
			<a type="button" class="btn btn-green fs-2" href="https://docs.google.com/forms/d/1Uwqh_AVeE6EiIgjf-Uu_JNz-5oTsBH5i8-Dzd3-inGk/viewform?edit_requested=true" target="_blank">Pharmacists</a>
		</div>
	</div>
</div>
</div>
