<div class="alert alert-gray" role="alert">
	<p>Do you have any idea how hard it is to make a website look this ugly?<small>October 22, 2021</small></p>
	<p>The letter is published with 6535 signatures<small>October 16, 2021</small></p>
	<p>The letter has received > 5000 signatures<small>September 22, 2021</small></p>
	<p>The letter has received > 4500 signatures<small>September 9, 2021</small></p>
	<p>The letter has received > 3600 signatures<small>September 5, 2021</small></p>
	<p>The letter has received > 2000 signatures<small>September 3, 2021</small></p>
	<p>A letter has been written and circulated to the doctors of Aotearoa New Zealand<small>September 1, 2021</small></p>
</div>
