<div class="text-center p-3 mt-1 border">
	<h2 class="fs-4">New Zealand Registered</h2>
	<div class="container fs-3 p-5">
		<div class="row">
			<div class="col-6 border-end border-bottom">
				<a class="text-decoration-underline text-reset" href="https://www.surveymonkey.com/r/DRSUV-2" target="_blank">Doctors</a></td>
			</div>
			<div class="col-6 border-bottom">
				<a class="text-decoration-underline text-reset" href="https://docs.google.com/forms/d/e/1FAIpQLSdk58m6ZAmWdD3oC0lGsubpLOavLkJC_gYL7qPaiGqzSbH4cA/viewform" target="_blank">Nurses</a>
			</div>
			<div class="col-6 border-end">
				<a class="text-decoration-underline text-reset" href="https://docs.google.com/forms/d/1Uwqh_AVeE6EiIgjf-Uu_JNz-5oTsBH5i8-Dzd3-inGk/viewform?edit_requested=true" target="_blank">Pharmacists</a>
			</div>
			<div class="col-6">
				<a class="text-decoration-underline text-reset" href="https://www.surveymonkey.com/r/FD9PZTC" target="_blank">Midwives</a></td>
			</div>
		</div>
	</div>
</div>
