<div class="text-center">
	<a role="button" class="btn btn-black" href="https://www.surveymonkey.com/r/DRSUV-2" target="_blank">Sign the Declaration</a>
	<p class="fs-4 fw-light mb-1">Over {% raw %}{{Math.floor((names[name].number - 1) / 10) * 10}}{% endraw %} <a href="https://d6scj24zvfbbo.cloudfront.net/9148d638432a00e29f6b02358445af92/200000069-776e9776eb/19.10.21-DRSUV-1.pdf" target="_blank" class="text-reset text-decoration-underline">{% raw %}{{names[name].plural}}{% endraw %}</a> and counting</p>
	<!--<p>{% raw %}{{names[name].number}}{% endraw %} doctors called {% raw %}{{name}}{% endraw %} (and 6,609 doctors overall), have signed the Doctors Stand Up For Vaccination open letter in support of COVID vaccination. This is compared to just 56 doctors who have signed the NZDSOS declaration that seeks to cast doubt on the efficacy and safety of the Pfizer COVID-19 vaccine.</p>-->
</div>
