<div class="text-center">
	<a type="button" class="btn btn-green fs-4 w-auto" href="" target="_blank">Statement for Health Professionals</a>
	<h4>New Zealand Doctors, Nurses, Pharmacists and Midwives</h4>
</div>
<p>Doctors Stand Up for Vaccination is a grassroots movement and has not received any financial assistance from any organisation, college or society. Although the group has tried hard to reach doctors through their district health boards, colleges and unions, there will be some doctors who have not yet found out about the initiative.</p>
<p>Doctors aren't the only ones standing up for vaccination. Nurses, midwives and pharmacists have joined the initiative, and have published their own open letters in support of vaccination for COVID-19, and are also collecting signatures.</p>
<p>If you know a doctor, nurse, pharmacist or midwife who supports vaccination and has not signed one of these lists, please encourage them to add their name on the <a href="https://www.doctors-stand-up-for-vaccination.com/" target="_blank">official site</a> or by using one of the links below.</p>
