<div class="text-center">
	<a type="button" class="btn btn-green fs-4 w-auto" href="" target="_blank">Statement for Health Professionals</a>
	<h4>New Zealand Doctors, Nurses, Pharmacists and Midwives</h4>
</div>
<p>Doctors Stand Up for Vaccination is a grassroots movement and has not received any financial assistance from any organisation, college or society. Although the group has tried hard to reach doctors through their district health boards, colleges and unions, there will be some doctors who have not yet found out about the initiative.</p>
<p>If you know a doctor who supports vaccination and has not signed <a href="https://d6scj24zvfbbo.cloudfront.net/9148d638432a00e29f6b02358445af92/200000071-9c87b9c87e/24.10.21.pdf" target="_blank">the list</a>, please encourage them to add their name on the <a href="https://www.doctors-stand-up-for-vaccination.com/" target="_blank">official site</a> or by using one of the links below.</p>
