<div class="text-center">

	<div class="mx-auto w-75 position-relative" style="margin-top: 8em; height: 500px; background-size: cover; background-image: url('{{ '/assets/img/birds-chain-sunset.jpg' | relative_url }}')">
		<div class="position-absolute top-0 end-0 fs-3 text-bold text-end mr-2" style="color: #483428">
			There are More Doctors called {% raw %}{{name}}{% endraw %}<br>
			Who Support Vaccination
		</div>
		<div class="position-absolute bottom-0 start-0 fs-3 text-bold ml-1" style="color: #fff">
			Than all the doctors who are spreading doubt
		</div>
	</div>

	<div class="w-100" style="margin-top: 8em; height: 500px; background-size: cover; background-image: url('{{ '/assets/img/chain-bird.png' | relative_url }}')">
		<div class="float-end fs-1 text-bold text-end mr-1" style="color: #F29979">
			There is Strength in Numbers<br>
			Together We Can Make a Difference
		</div>
	</div>

	<div class="border border-dark border-5" style="margin-top: 6em">
		<div class="text-bold text-dark" style="font-size: 4em">
			The evidence is clear
			<div style="overflow: hidden"><img src="{{ '/assets/img/chain.png' | relative_url }}" style="height: 200px;" /></div>
			Vaccines Save Lives
		</div>
	</div>

	<div class="mx-auto" style="margin-top: 8em; height: 500px; background-size: cover; background-image: url('{{ '/assets/img/chain-bird.png' | relative_url }}')">
		<div class="float-end fs-1 text-bold text-end mr-1" style="color: #F29979">
			You Can Trust the Consensus Opinion<br>
			Of the Vast Majority of Experts<br>
			More Than a Tiny Minority of Doctors
		</div>
	</div>

</div>
