<div class="text-center">
	<h2>Who We Are and a Call To Action</h2>
	<div class="alert alert-shadow" role="alert"><a href="https://www.doctors-stand-up-for-vaccination.com/" target="_blank">Doctors Stand Up For Vaccination</a></div>
	<div class="alert alert-shadow" role="alert"><a href="https://skeptics.nz" target="_blank">NZ Skeptics</a></div>
</div>
<p class="mt-5">The Doctors Stand Up For Vaccination group contains Public Health physicians, GPs, Intensive Care physicians, Urgent Care, Respiratory and Infectious Disease physicians, Paediatricians, General physicians, Emergency Medicine physicians, obstetricians, gynaecologists, surgeons and more. The NZ Skeptics are an evidence-based, pro-science and pro-vaccine organisation who are fed up with groups like Voices for Freedom spreading dangerous misinformation.</p>
