@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font-family: "Open Sans", Arial, sans-serif;
	color: #666;
	font-size: 14px;
}

body.vw-100 {
	width: auto !important;
}

a {
	@extend .text-decoration-none;
	color: #ad332e;
}

hr {
	border: none;
	border-top: 2px solid #000000;
	color: #000000;
}

main.page-content {
	@extend .py-3;
}

.nav-link.active {
	color:#2EA3F2 !important;
}

select {
	background-color: inherit;
}

select:focus {
	border-color: #ffffff;
	outline: none;
}

h1 {
	@extend .fs-1;
	@extend .mb-0;
	font-family: "Bebas Neue", sans-serif;
	color: #221f1f;
}

h1 span {
	color: #8b8b8b !important;
}

h2 {
	@extend .mt-5;
	font-weight: 400 !important;
	font-size: 32px !important;
	color: #333333;
}

h3 {
	@extend .fw-bold;
	@extend .mt-5;
	color: #333333;
}

h4 {
	@extend .text-center;
	@extend .mt-2;
	@extend .fw-bold;
	color: #000000;
}

.container {
	@extend .px-5;
	max-width: 1280px;
}

.alert-orange {
	@extend .text-center;
	@extend .fw-normal;
	@extend .my-5;
	@extend .py-1;
	@extend .text-light;
	@extend .fs-2;
	background-color: #FD5C44;
}

.alert-gray {
	@extend .my-4;
	@extend .rounded-0;
	border: none;
	background-color: #eeeeee;
}

.alert-gray small {
	@extend .d-block;
}

.alert-shadow {
	@extend .my-4;
	@extend .shadow;
	@extend .fs-4;
}

.alert-shadow a {
	@extend .text-reset;
}

.btn-black {
	@extend .fs-3;
	@extend .px-4;
	@extend .my-2;
	@extend .btn-outline-dark;
	@extend .rounded-1;
	@extend .border-5;
	color: #0f3716;
	border-color: #0f3716;
}

.btn-green {
	@extend .text-center;
	@extend .text-light;
	@extend .fs-6;
	@extend .w-100;
	@extend .fw-normal;
	@extend .my-2;
	@extend .p-3;
	background-color: rgb(0, 55, 22);
}
