<h2 class="fw-normal">Our Letter</h2>
<p>This letter is written on behalf of the undersigned doctors of Aotearoa New Zealand.</p>
<p>We wish to present a united and evidence-based voice to the people of Aotearoa New Zealand in support of vaccination against COVID-19 for all eligible New Zealanders. Our group contains Public Health physicians, GPs, Intensive Care physicians, Urgent Care, Respiratory and Infectious Disease physicians, Paediatricians, General physicians, Emergency Medicine physicians, obstetricians, gynaecologists, surgeons and more.</p>
<p>It is a difficult time for our country, with the Delta variant of COVID-19 currently in our community. We would like to thank the people of Aotearoa New Zealand for the hard work they have done to keep our shores largely free from COVID-19. There is a great deal of misinformation that circulates regarding COVID-19, and sometimes it can be hard to know where to look for medically sound and approved advice. We have compiled a FAQ Document that supports this letter, to answer some questions that we hear on a frequent basis.</p>
<p>We wish, as a group, to speak directly to the people of Aotearoa New Zealand. We overwhelmingly support vaccination against COVID-19 and other public health measures such as mask use in public areas, physical distancing and hand hygiene. These measures are not just an individual choice: when we undertake these measures, we do so for our whānau, friends, work colleagues and the entire country. By following this advice the medical community and the general public will work as a team to ensure our country is safe.</p>
<!--<div class="text-center">
	<div class="alert alert-shadow d-inline-block px-0" role="alert"><a class="mx-0 px-0" href="https://www.doctors-stand-up-for-vaccination.com/about-us/" target="_blank">Doctors Stand Up For Vaccination Frequently Asked Questions</a></div>
</div>-->
<p>Kia kaha Aotearoa: we will get through this together.</p>
<ol>
	<li>The {% raw %}{{names[name].plural}}{% endraw %}
		<ul>
			<li v-for="name in names[name].names">{% raw %}{{name}}{% endraw %}</li>
		</ul>
	</li>
</ol>
