---
layout: default
---

<div class="home" @mounted="change">
	{%- include intro.html -%}
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-9">
				{%- include sign.html -%}
				<hr />
				{%- include statement.html -%}
				{%- include professions.html -%}
				{%- include who.html -%}
				{%- include background.html -%}
				{%- include letter.html -%}
				{%- include subscribe.html -%}
			</div>
			<div class="col mt-5 border-end pr-4">
				{%- include buttons.html -%}
				{%- include about.html -%}
				{%- include news.html -%}
				{%- include social.html -%}
				{%- include disclaimer.html -%}
		</div>
		</div>
	</div>
</div>
