---
layout: default
---

<div class="home">
	<!--{%- if page.title -%}
		<h1 class="page-heading py-3">{{ page.title }}</h1>
	{%- endif -%}-->

	{{ content }}

	<h2>New Zealand Doctors called <span style="color: red">{% raw %}{{name}}{% endraw %}</span> Speaking Out with Science</h2>

	<div class="alert alert-orange" role="alert">
		There are more doctors named {% raw %}{{name}}{% endraw %} who support vaccination than all the doctors who have signed the NZDSOS Declaration.
	</div>


	<div class="container">
		<div class="row">
				<div class="col-9">
					<div class="text-center">
						<a role="button" class="btn btn-black" href="https://www.surveymonkey.com/r/DRSUV-2" target="_blank">Sign the Declaration</a>
						<p class="fs-4 fw-light mb-1">Over 94 <a href="#" class="text-reset">{% raw %}{{name}}{% endraw %}s</a> and counting</p>
						<p>Reminding the public of their responsibility. Standing up for our safety, those of our families, our patients and the general public. NZ Doctors please check below to see how you can add your name to the list.</p>

						<a role="button" class="btn btn-black" href="https://www.surveymonkey.com/r/DRSUV-2" target="_blank">New Zealand Doctors Click Here To Sign</a>

						<h2>Who We Are and a Call To Action</h2>
						<div class="alert alert-shadow" role="alert"><a href="https://www.doctors-stand-up-for-vaccination.com/" target="_blank">Doctors Stand Up For Vaccination</a></div>
						<div class="alert alert-shadow" role="alert"><a href="https://skeptics.nz" target="_blank">NZ Skeptics</a></div>
					</div>
				</div>
			<div class="col mt-5">
				<button type="button" class="btn btn-green">Donate to NZD-SOS</button>
				<button type="button" class="btn btn-green">Subscribe to our Newsletter</button>
				<button type="button" class="btn btn-green">NZD-SOS Covid Help Online Clinic</button>
				<button type="button" class="btn btn-green">No Jab No Job- Support Groups</button>
				<p><em></em></p>
			</div>
		</div>
	</div>

</div>
